.centre {
    text-align: center;
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}


.flex-col{
    flex-direction: column;
}

.align-centre{
    align-items: center;
}

.justify-centre{
    justify-content: center;
}